.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}

.App-contents {
  display: flex;
}

.App-player {
  width: 80%;
  height: 600px;
}

.App-sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.App-sidebar span {
  display: block;
  margin-bottom: 20px;
}

.App-sidebar .temperature {
  color: #ff6a6a;
}

.App-sidebar .humidity {
  color: #bbbbff;
}

.App-link {
  color: #61dafb;
}

.App-btn {
  font-size: calc(5px + 2vmin);
  width: 200px;
  max-width: 200px;
  padding: 10px;
  margin-bottom: 5px;
  color: #efefef;
  background: none;
}

footer {
  padding: 25px;
  margin-top: 100px;
}

@media only screen and (max-width: 800px) {
  .App-contents {
    flex-direction: column;
  }

  .App-sidebar {
    width: 100%;
  }

  .App-player {
    width: 100%;
    height: 385px;
  }
}